import { PaginatedResponse } from 'src/domain/types/Interface';
import { ID } from "src/domain/types/Types";

export interface {{.Entity}} {
	id: ID;
	name: string;
	status?: boolean;
	created_at?: string;
}

export interface I{{.Entity}}Repository {
	getAll(currentPage: number, itemsPerPage: number, searchTerm: string): Promise<PaginatedResponse<{{.Entity}}>>;
	getById(id: ID): Promise<{{.Entity}}>;
	create({{.Entity}}: {{.Entity}}): Promise<{{.Entity}}>;
	update(id: ID, {{.Entity}}: Partial<{{.Entity}}>): Promise<{{.Entity}}>;
	delete: (ids: ID[]) => Promise<ID[]>;
}
