import type { {{.Entity}} } from 'src/domain/entities/{{.DirName}}/{{.Entity}}';
import { entitySliceFactory } from 'src/presentation/stores/entitySliceFactory';

// Buat slice {{.Entity}} menggunakan entitySliceFactory
const {{.LowerEntity}}Slice = entitySliceFactory<{{.Entity}}>('{{.LowerEntity}}');

export const { setItems, setItem, deleteItem, setEditedItem, toggleSelectAll, toggleSelectRow } =
  {{.LowerEntity}}Slice.actions;
export default {{.LowerEntity}}Slice.reducer;