import {
  batchDelete,
  fetchDataById,
  fetchPaginated,
  postData,
  putData,
} from 'src/data/sources/api/api-client';
import type { {{.Entity}}, I{{.Entity}}Repository } from 'src/domain/entities/{{.DirName}}/{{.Entity}}';
import type { PaginatedResponse } from 'src/domain/types/Interface';
import type { FilterParams, ID } from 'src/domain/types/Types';

const endpoint = '/{{.DirName}}s';

const {{.Entity}}Repository: I{{.Entity}}Repository = {
  getAll: async (params: FilterParams): Promise<PaginatedResponse<{{.Entity}}>> => {
    return fetchPaginated<{{.Entity}}>(endpoint, params);
  },

  getById: async (id: ID): Promise<{{.Entity}}> => {
    return fetchDataById<{{.Entity}}>(endpoint, id);
  },

  create: async ({{.LowerEntity}}: {{.Entity}}): Promise<{{.Entity}}> => {
    return postData<{{.Entity}}>(endpoint, {{.LowerEntity}});
  },

  update: async (id: ID, {{.LowerEntity}}: Partial<{{.Entity}}>): Promise<{{.Entity}}> => {
    return putData<{{.Entity}}>(`${endpoint}/${id}`, {{.LowerEntity}});
  },

  batchDelete: async (ids: ID[]): Promise<ID[]> => {
    return batchDelete(endpoint, ids);
  },
};

export default {{.Entity}}Repository;
