import {{.Entity}}Page from 'src/presentation/pages/{{.LowerEntity}}/{{.Entity}}Page.tsx';
import { Route, Routes } from 'react-router-dom';
import { useRBAC } from 'src/presentation/hooks/useRBAC';
import ForbiddenPage from 'src/presentation/pages/error/ForbiddenPage';

const {{.Entity}}Router = () => {
	const { hasAccessPermission } = useRBAC();

	return (
		<Routes>
			<Route path="/" element={hasAccessPermission(['{{.LowerEntity}}']) ? <{{.Entity}}Page /> : <ForbiddenPage />} />
		</Routes>
	);
};

export default {{.Entity}}Router;
